---
import MarkdownIt from "markdown-it";

const {
  text,
  authorName,
  authorDescription,
  alignX = "center",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => key !== "_bookshop_name")
);

const md = MarkdownIt({ html: true });
const MarkdownText = text ? md.renderInline(text) : "";
---

<blockquote class:list={["testimonial", `alignment-${alignX}`, className]} {...htmlAttributes}>
  <q class="quote">
    {text ? <Fragment set:html={MarkdownText} /> : <slot />}
  </q>
  <cite class="author">
    <strong class="name">
      {authorName}
    </strong>
    {authorDescription && <span class="description">- {authorDescription}</span>}
  </cite>
</blockquote>
